:root::-webkit-scrollbar {
  width: 16px;
}

:root::-webkit-scrollbar-thumb {
  background-color: var(--color-complementary);
  border-radius: 10px;
  border: 3px solid var(--color-dominant);
}

:root::-webkit-scrollbar-track {
  background: var(--color-dominant);
  border-bottom-right-radius: 1rem;
}

.project-card-footer {
  transition: 0.3s;
}

.project-card-footer:hover {
  background-color: var(--color-accent);
}

.status-badge {
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 4px 8px;
}

.issues-card {
  height: 350px;
}

.issues-card::-webkit-scrollbar {
  width: 16px;
}

.issues-card::-webkit-scrollbar-thumb {
  background-color: var(--color-dominant);
  border-radius: 10px;
  border: 3px solid var(--color-complementary);
}

.issues-card::-webkit-scrollbar-track {
  background: var(--color-complementary);
  border-bottom-right-radius: 1rem;
}

.issue-item {
  background-color: var(--color-complementary);
  border-left: var(--bs-border-width) var(--bs-border-style) transparent!important;
  border-right: var(--bs-border-width) var(--bs-border-style) transparent!important;
}

.issue-item:hover {
  background-color: var(--color-dominant);
  border-left: var(--bs-border-width) var(--bs-border-style) var(--color-complementary)!important;
  border-right: var(--bs-border-width) var(--bs-border-style) var(--color-complementary)!important;
}

.issue-item:last-child {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--color-complementary)!important;
  border-bottom-left-radius: var(--bs-border-radius-xl)!important;
  border-bottom-right-radius: var(--bs-border-radius-xl)!important;
}

.issue-filter {
  color: var(--bs-body-color);
}

.issue-filter:hover {
  color: #fff;
}

.issue-filter.active {
  color: #fff;
  font-weight: 500;
}

.info-card-icon {
  width: 70px;
  height: 70px;
}

.project-item, .collaborator-item {
  cursor: pointer;
  border: 1px solid var(--color-complementary);
  transition: all 0.2s ease 0s;
}

.project-item:hover, .collaborator-item:hover  {
  background-color: var(--color-complementary);
}

.collaborator-item-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.collaborator-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.auto-complete > ul {
  position: absolute;
  max-height: 226px;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 0.5rem 0 0 0;
  padding: 0;
  z-index: 1;
  list-style: none;
  border-radius: 0.6rem;
  background-color: var(--color-dominant);
  border: 1px solid rgba(33, 33, 33, 0.07);
  box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
  outline: none;
  transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
}

.auto-complete > ul[hidden],
.auto-complete > ul:empty {
  display: block;
  opacity: 0;
  transform: scale(0);
}

.auto-complete > ul > li {
  margin: 0.3rem;
  padding: 0.3rem 0.5rem;
  text-align: left;
  font-size: 1rem;
  color: var(--bs-body-color);
  border-radius: 0.35rem;
  background-color: var(--color-dominant);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}

.auto-complete > ul > li mark {
  background-color: transparent;
  color: var(--color-accent);
  font-weight: bold;
}

.auto-complete > ul > li:hover {
  cursor: pointer;
  background-color: var(--color-accent);
  color: #fff;
}

.auto-complete > ul > li[aria-selected="true"] {
  background-color: var(--color-accent);
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .auto-complete > input {
    width: 18rem;
  }
}

.sweet-alert-toast-popup {
  padding: 1.3rem 1.5rem !important;
  background-color: var(--color-dominant) !important;
}

.sweet-alert-toast-title {
  margin: 0em 1em !important;
  font-size: 0.875rem !important;
  font-weight: bold !important;
  color: #f3f3f3;
}

.sweet-alert-toast-html-container {
  font-size: 0.875rem !important;
  font-weight: bold !important;
}
