.project-card-footer {
  transition: 0.3s;
}

.project-card-footer:hover {
  background-color: var(--color-accent);
}

.project-status-badge {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  padding: 4px 8px;
  transition: all 0.2s ease 0s;
}
