@media (min-width: 992px) {
  .bd-layout {
      display:grid;
      grid-template-areas: "sidebar main";
      grid-template-columns: 1fr 5fr;
      gap: 1.5rem
  }

  .bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
  }
}

.bd-sidebar {
  grid-area: sidebar;
}

.bd-gutter {
  --bs-gutter-x: 3rem;
}

.bd-navbar {
  padding: .75rem 0;
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15)
}

.bd-navbar::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  content: "";
  background-image: linear-gradient(to bottom, rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95))
}

.bd-navbar .navbar-toggler {
  padding: 0;
  margin-right: -.5rem;
  border: 0
}

.bd-navbar .navbar-toggler:first-child {
  margin-left: -.5rem
}

.bd-navbar .navbar-toggler .bi {
  width: 1.5rem;
  height: 1.5rem
}

.bd-navbar .navbar-toggler:focus {
  box-shadow: none
}

.bd-navbar .navbar-brand {
  color: #fff;
}

.bd-navbar .navbar-toggler,.bd-navbar .nav-link {
  padding-right: .25rem;
  padding-left: .25rem;
  color: rgba(255,255,255,0.85)
}

.bd-navbar .navbar-toggler:hover,.bd-navbar .navbar-toggler:focus,.bd-navbar .nav-link:hover,.bd-navbar .nav-link:focus {
  color: #fff
}

.bd-navbar .navbar-toggler.active,.bd-navbar .nav-link.active {
  font-weight: 600;
  color: #fff
}

.bd-navbar .offcanvas-lg {
  border-left: 0
}

[data-bs-theme="dark"] .bd-navbar {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15)
}


.sidebar-link {
  padding: 0.875rem 0.75rem;
  font-size: 16px;
  color: #f3f3f3;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar-link:hover {
  background-color: var(--bs-tertiary-bg);
} 

#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  width: 100%;
  overflow-x: hidden;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}

@media (min-width: 768px) {
  .sidebar {
    width: 20rem !important;
  }
}

.sidebar {
  width: 6.5rem;
  min-height: 100vh;
}

.sidebar .sidebar-brand {
  text-decoration: none;
  font-size: 20px;
  padding: 0.875rem 0.75rem;
}

.topbar {
  height: 4.375rem;
}