.project-card-footer {
  transition: 0.3s;
}

.project-card-footer:hover {
  background-color: var(--color-accent);
}

.status-badge {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 4px 8px;
  transition: all 0.2s ease 0s;
}

.issues-card {
  max-height: 350px;
  min-height: 350px;
}

.issues-card::-webkit-scrollbar {
  width: 16px;
}

.issues-card::-webkit-scrollbar-thumb {
  background-color: var(--color-dominant);
  border-radius: 10px;
  border: 3px solid var(--color-complementary);
}

.issues-card::-webkit-scrollbar-track {
  background: var(--color-complementary);
  border-bottom-right-radius: 1rem;
}

.info-card-icon {
  width: 70px;
  height: 70px;
}

.project-item, .collaborator-item {
  cursor: pointer;
  border: 1px solid var(--color-complementary);
  transition: all 0.2s ease 0s;
}

.project-item:hover, .collaborator-item:hover  {
  background-color: var(--color-complementary);
}

.collaborator-item-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.collaborator-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}