:root {
  scroll-behavior: smooth;
  /* Template colors */
  --color-dominant: #222831; /* %60 */
  --color-complementary: #393E46; /* %30 */
  --color-accent: #0d6efd; /* %10 */
}

body {
  background-color: var(--color-dominant);
}

/*--------------------------------------------------------------
# Background
--------------------------------------------------------------*/
.bg-dominant {
  background-color: var(--color-dominant);
}

.bg-complementary {
  background-color: var(--color-complementary);
}

.bg-accent {
  background-color: var(--color-accent);
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
  color: var(--color-accent);
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 50px;
  margin-right: 6px;
}

.logo i {
  font-size: 32px;
  color: #f3f3f3;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #f3f3f3;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: rgba(255, 255, 255, .5) 0px .2px 0px;
  padding-left: 20px;
}

.header .toggle-sidebar-btn {
  font-size: 26px;
  padding-left: 10px;
  cursor: pointer;
  color: #f3f3f3;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #f3f3f3;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #f3f3f3;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 16px;
  font-weight: 600;
}

.header-nav .nav-profile span i {
  font-size: 24px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
  background-color: var(--color-dominant);
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
  border: none;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #fff;
}

.header-nav .profile .dropdown-header span {
  font-size: 15px;
  color: #f3f3f3;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
  border-radius: 10px;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 16px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: var(--color-complementary);
}

.header-nav .nav-item .nav-link {
  color: #fff;
}

.header-nav .nav-item .nav-link:hover {
  color: var(--color-accent);
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-complementary) transparent;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--color-dominant);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-complementary);
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 14px;
  text-transform: uppercase;
  color: #f3f3f3;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #fff;
  transition: 0.3;
  background: transparent;
  padding: 10px 15px;
  border-radius: 10px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #fff;
}

.sidebar-nav .nav-link.collapsed {
  color: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #fff;
}

.sidebar-nav .nav-link:hover {
  color: #fff;
  background: var(--color-complementary);
}

.sidebar-nav .nav-link:hover i {
  color: #fff;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #fff;
}

.sidebar-nav .nav-content a.active i {
  background-color: #fff;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
.btn-rounded {
  padding: 10px 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 0.875rem;
}

/*--------------------------------------------------------------
# Dropdown
--------------------------------------------------------------*/

.dropdown-menu {
  /* min-width: 240px; */
  padding-bottom: 0;
  top: 8px !important;
  background-color: var(--color-dominant);
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
  border: none;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
  border-radius: 10px;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 16px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--color-complementary);
}